* {
  color: #fdfefe;
}

body {
  background-color: #3c4043;
}

h1,
h2,
h3,
h4,
p,
span {
  color: #fdfefe;
}

a:link {
  color: #1a73e8;
}

a:visited {
  color: #1a73e8;
}

a:hover {
  color: #066ef6;
}

a:active {
  color: #066ef6;
}

.navLink:link {
  color: #fdfefe;
  text-decoration: none;
  padding: 5px;
}

.navLink:visited {
  color: #fdfefe;
}

.navLink:hover {
  color: #fdfefe;
}

.navLink:active {
  color: #fdfefe;
}

.cursorActive {
  background-color: #fdfefe;
  color: #3c4043;
}
