* {
  color: #fdfefe;
}

body {
  background-color: #3c4043;
}

h1,
h2,
h3,
h4,
p,
span {
  color: #fdfefe;
}

a:link {
  color: #1a73e8;
}

a:visited {
  color: #1a73e8;
}

a:hover {
  color: #066ef6;
}

a:active {
  color: #066ef6;
}

.navLink:link {
  color: #fdfefe;
  text-decoration: none;
  padding: 5px;
}

.navLink:visited {
  color: #fdfefe;
}

.navLink:hover {
  color: #fdfefe;
}

.navLink:active {
  color: #fdfefe;
}

.cursorActive {
  background-color: #fdfefe;
  color: #3c4043;
}

.button-text-container button {
  border: none;
  background-color: #707b7c;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid #707b7c;
  color: #fdfefe;
  background-color: #3c4043;
}

input[type="button"],
input[type="submit"] {
  background-color: #707b7c;
  border: none;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: #3c4043;
  border: 1px solid #707b7c;
}

select {
  border: 1px solid #707b7c;
  background-color: #3c4043;
}

#aspectos-ranking {
  border-bottom: 1px solid #707b7c;
}

.registro-ranking {
  border-bottom: 1px solid #707b7c;
}
