* {
  color: #fdfefe;
}

body {
  background-color: #3c4043;
}

h1,
h2,
h3,
h4,
p,
span {
  color: #fdfefe;
}

a:link {
  color: #fdfefe;
  font-weight: 600;
}

a:visited {
  color: #fdfefe;
  font-weight: 600;
}

a:hover {
  color: #fdfefe;
  font-weight: 600;
}

a:active {
  color: #fdfefe;
  font-weight: 600;
}

.navLink:link {
  color: #fdfefe;
  text-decoration: none;
  padding: 5px;
}

.navLink:visited {
  color: #fdfefe;
}

.navLink:hover {
  color: #fdfefe;
}

.navLink:active {
  color: #fdfefe;
}

.cursorActive {
  background-color: #fdfefe;
  color: #3c4043;
}

.button-text-container button {
  border: none;
  background-color: #707b7c;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid #707b7c;
  color: #fdfefe;
  background-color: #3c4043;
}

input[type="button"],
input[type="submit"],
button {
  background-color: #707b7c;
  border: none;
}

input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
  background-color: #3c4043;
  border: none;
  /* border: 1px solid #707b7c; */
}

select {
  border: 1px solid #707b7c;
  background-color: #3c4043;
}

#aspectos-ranking {
  border-bottom: 1px solid #707b7c;
}

.registro-ranking {
  border-bottom: 1px solid #707b7c;
}

.high-elem {
  color: #ea4335;
}

.button {
  padding: 5px 10px;
  color: #fdfefe;
  border: none;
  background-color: #707b7c;
}

.button:hover {
  background-color: #3c4043;
}
