@charset "UTF-8";

* {
  color: #3c4043;
}

body {
  background-color: #fdfefe;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #3c4043;
}

p,
span {
  font-family: "Open Sans", sans-serif;
}

a:link {
  color: #1a73e8;
}

a:visited {
  color: #1a73e8;
}

a:hover {
  color: #066ef6;
}

a:active {
  color: #066ef6;
}

.navLink:link {
  color: #3c4043;
  text-decoration: none;
  padding: 5px;
}

.navLink:visited {
  color: #3c4043;
}

.navLink:hover {
  color: #3c4043;
}

.navLink:active {
  color: #3c4043;
}

li h1,
li h2 {
  margin: 0;
}

nav {
  max-width: 992px;
  margin: 0 auto;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-content: center;
}

#navHeader {
  font-size: 1.3em;
}

.text-center {
  text-align: center;
}

section {
  max-width: 992px;
  margin: 0 auto;
  padding: 30px 0 0 0;
}

#texto {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
}

.cursorActive {
  background-color: black;
  color: white;
  padding: 1px 0px;
  border-radius: 2px;
}

.cursorDesactive {
  border-bottom: 1px solid #35a853;
}

.nav-item-small {
  font-size: 0.7em;
}

#stats {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.stat-container {
  width: 230px;
  display: flex;
  flex-direction: column;
}

.stat-result {
  font-size: 2em;
  text-align: center;
}

.stat-header {
  font-size: 1em;
  text-align: center;
}

.custom-text-container {
  width: 100%;
  height: 150px;
  padding: 5px;
  /* border-left: 1px solid #707b7c;
  border-right: 1px solid #707b7c; */
  border-bottom: 1px solid #707b7c;
  opacity: 0.6;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.custom-text-container:hover {
  border-radius: 5px;
  opacity: 1;
}

.button-text-container {
  text-align: end;
}

.button-text-container button {
  border: none;
  background-color: #eee;
}

.nav-item-big {
  font-size: 2.3em;
  text-align: center;
}

#login-form {
  width: 50%;
  margin: 0 auto;
  padding: 0 0 50px 0;
}

#login-form form ul {
  list-style-type: none;
  padding: 0;
}

#login-form form ul li {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid #eee;
  color: #3c4043;
  background-color: #fdfefe;
  padding: 3px 7px 3px;
}

input[type="button"],
input[type="submit"],
button {
  background-color: #eee;
  border: none;
  padding: 5px;
}

input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
  background-color: #fdfefe;
  border: none;
}

select {
  border: 1px solid #eee;
  background-color: #fdfefe;
}

#aspectos-ranking {
  margin: 30px 0 0 0;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

.registro-ranking,
.user-div {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

.registro-ranking:hover {
  padding: 10px 0;
}

.campo-ranking {
  width: 150px;
}

#login-icon {
  font-size: 10em;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.user-div-buttons button {
  padding-right: 10px;
}

.user-div span {
  display: flex;
  align-items: center;
}

/* 
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////// */
/* profile */

#user-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-box {
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big-avatar {
  margin: auto auto;
  font-size: 6em;
}

.high-elem {
  color: #ea4335;
}

.button {
  padding: 5px 10px;
  background-color: #eee;
  border: none;
  color: #3c4043;
}

.button:hover {
  background-color: #fdfefe;
}

/* 
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////// */

.tb-no-decor {
  list-style-type: none;
}

.li-label-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.line-end {
  display: flex;
  justify-content: flex-end;
}

.small-avatar {
  font-size: 1.4em;
}

.small-avatar:hover {
  background-color: #707b7c;
}
/* 
.icon-pìcker {
  width: 200px;
  height: 200px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
} */
